<div class="container">
<img
  src="https://www.gstatic.com/devrel-devsite/prod/ve25c3e040096d9860a1b86503ff88692bbcb336f8204869702074147185c6987/firebase/images/lockup.png"
  alt=""
/>
<img src="https://ngrx.io/assets/images/badge.svg" alt="" />


<div *ngIf="postState$ | async as post">
  <i *ngIf="post.loading" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
  <div>
    <h4>
      <p>
        Downloaded Text:
        <strong>{{ post.text }}</strong>
      </p>

      <p>
        Downloaded Votes COUNTER:
        <strong>{{ post.votes }}</strong> ->
        <button mat-raised-button color="primary" (click)="vote(post, 1)">
          Upvote - Value: + {{ post.val }}
        </button>
      </p>

      <h4>(Votes changes are saved on Firebase Real-time Database)</h4>

      <p>
        <input [(ngModel)]="text">
        <button mat-raised-button color="primary" (click)="editText()">Change Title on this state</button>
      </p>
      <h4>(title is saved on Firebase Real-time Database, but with this button it is just changing in this state, don't save this)</h4>

      <!-- <button mat-raised-button color="warn" (click)="vote(post, -1)">
        Downvote
      </button> -->
      <!-- TODO: ITERÁCIÓT STABILIZÁLNI!!! -->
      <!-- <div *ngFor="let recipe of recipeBookState$"></div> -->
    </h4>
  </div>
</div>
<p>
<button mat-raised-button color="accent" (click)="getRecipes()">Load Post from Firebase</button>
</p>
</div>

<!-- <div *ngIf="post | async as p">

  <h2>{{ p.text }}</h2>

  <h4>Votes: {{ p.likes }}</h4>

  <button mat-raised-button color="primary" (click)="upvote()">Upvote</button>
  <button mat-raised-button color="primary" (click)="downvote()">Downvote</button>
  <button mat-raised-button color="primary" (click)="resetPost()">Reset</button>

  <input [(ngModel)]="text">
  <button mat-raised-button color="primary" (click)="editText()">Change Title</button>

</div> -->
<!-- <button (click)="addText()">Add TODO</button> -->

<!-- <p>
  My Todos from Array:
</p>
<ul>
  <li *ngFor="let t of todos">
    {{ t.title }}
  </li>
</ul>

  <p>
    My Todos from Observable Array:
    -Iterating is Not working yet!
  </p> -->
<!-- <div id="wrapper">
    <div id="shopping-list">
      <div id="list">
        <h2>Shopping List</h2>

        <ul>
          <li *ngFor="let todolisting of shoppingItems$ | async" (click)="removeItem(todolisting.id)">
            {{ todolisting.name }}
            <button (click)="removeTodo(todolisting.id)">-</button>

            <br><br>
          </li>
        </ul>
      </div>

      <form (ngSubmit)="addTodo()">
        <input
          type="text"
          [(ngModel)]="newShoppingItem.name"
          placeholder="Item"
          name="itemName"
          />
        <button type="submit" >+</button>
      </form>
    </div>
  </div> -->
<!-- <ul>
    <li *ngFor="let todo of todos$ | async">
      {{ todo.title }}
    </li>
  </ul> -->
