<header class="title">
<img src="https://ngrx.io/assets/images/badge.svg" alt="" />

<h2>
  {{title}}
</h2>
<p>
  @ngrx/store/effects
</p>
</header>

<div class="container">

<div class="box greeting">
  <h2>{{ message$ | async }}</h2>

<button mat-raised-button color="primary" (click)="spanishMessage()">Spanish</button>
<button mat-raised-button color="accent" (click)="frenchMessage()">French</button>
</div>
<hr>
<div class="box">
  <h1>
    PostApp - REDUX - @ngrx/store/effects
  </h1>
  <app-post></app-post>

</div>
<hr>
<div class="box">
  <h1>
    Shopping List App - REDUX - @ngrx/store
  </h1>
  <app-shopping-list></app-shopping-list>
</div>

</div>

<div class="title">
<h2>
  Complex Application in one State:
</h2>
<h1>
  ToDos with DashBoard and Messaging
</h1>
<p>
  @ngrx/store
</p>
</div>
<div class="messages">
<app-my-counter></app-my-counter>
</div>

<div class="partition">
  <app-todo-list></app-todo-list>
</div>
<div class="partition partition-filled">
  <app-todo-dashboard></app-todo-dashboard>
</div>
<hr class="footerhr">

<div class="title">
  <h2>
    Calling API - TODOS
  </h2>
  <h1>
    ToDos with Toggling
  </h1>
  <p>
    @ngrx/store/effects
  </p>
  </div>
  <div class="todos">
  <app-todo></app-todo>
  </div>

<div class="footer">

  <h2 style="text-align: center;">
    {{title}} 2021
  </h2>

</div>
