<h1>
  {{title}}
</h1>

<div>
  <h2>{{ message$ | async }}</h2>

<button (click)="spanishMessage()">Spanish</button>
<button (click)="frenchMessage()">French</button>
</div>

<h1>
  ToDoApp - REDUX - @ngrx/store
</h1>

<div class="partition">
  <app-todo-list></app-todo-list>
</div>
<div class="partition partition-filled">
  <app-todo-dashboard></app-todo-dashboard>
</div>

<div class="partition partition-filled" id="counter">

<h1>Counter Application</h1>
<h2>REDUX </h2>
<h3>@ngrx/store Tutorial </h3>

<app-my-counter></app-my-counter>
</div>

<div class="partition">
  <h1>
    PostApp - REDUX - @ngrx/store
  </h1>
  <app-post></app-post>

</div>

<div>
  <h1>
    Shopping List App - REDUX - @ngrx/store
  </h1>
  <app-shopping-list></app-shopping-list>
</div>
