h2 {
  letter-spacing: 0.4rem;
}

img {
  float: left;
  height: 3rem;
  padding: 1rem;
}


.greeting {
  text-align: center;
}

.container {
  background-image: url(https://ngrx.io/assets/images/header.svg);
  margin: 0;
  padding: 0;
}

.box {
padding: 2rem;
}

.title {
  padding: 0.1rem;
  padding-left: 0.3rem;
  background: black;
  color: white;
  box-shadow: 0 10px 10px -10px #8c8b8b;
}

.messages {
  padding: 0.8rem;
  background: rgb(65, 98, 232);
  color: white;
  filter: drop-shadow();
}

.partition {
  float: left;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
}

.partition-filled {
  background: radial-gradient(white, grey);
}

.footer {
  padding: 0.5rem;
  padding-top: 1rem;
  background: black;
  color: white;
  filter: drop-shadow();
}

/* Large rounded green border */
hr.footerhr {
  border-top: 1px dashed black;
  height: 1px;
	/* border: 1px; */
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
