<header class="title">
<img src="https://ngrx.io/assets/images/badge.svg" alt="" />

<h2>
  {{title}}
</h2>
<p>
  @ngrx/store/effects/entity
</p>
</header>

<div class="container">

<div class="box greeting">
  <h2>{{ message$ | async }}</h2>

<button mat-raised-button color="primary" (click)="spanishMessage()">Spanish</button>
<button mat-raised-button color="accent" (click)="frenchMessage()">French</button>
</div>
<hr>
<div class="box">
  <h1>
    PostApp - REDUX - @ngrx/store/effects
  </h1>
  <app-post></app-post>

</div>
<hr>
<div class="box">
  <h1>
    Shopping List App - REDUX - @ngrx/store
  </h1>
  <app-shopping-list></app-shopping-list>
</div>

</div>

<div class="title">
<h2>
  Complex Application in one State:
</h2>
<h1>
  ToDos with DashBoard and Messaging
</h1>
<p>
  @ngrx/store
</p>
</div>
<div class="messages">
<app-my-counter></app-my-counter>
</div>

<div class="partition">
  <app-todo-list></app-todo-list>
</div>
<div class="partition partition-filled">
  <app-todo-dashboard></app-todo-dashboard>
</div>

<!-- <div class="partition partition-filled" id="counter">

<h1>Counter Application</h1>
<h2>REDUX </h2>
<h3>@ngrx/store Tutorial </h3>

</div> -->
